* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #3e4757;
}

.page-title {
  -webkit-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);
  font-size: 17px;
  color: #fff;
  text-align: center;
  -webkit-transition: .6s transform ease-in-out;
  -o-transition: .6s transform ease-in-out;
  transition: .6s transform ease-in-out;
}
.page-title.active {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.block-form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 500px;
}
.block-form__step {
  text-align: center;
  color: #fff;
}
.block-form__header {
  text-align: center;
  background-color: #fff;
  padding: 5px;
  font-size: 17px;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 50px;
}
.block-form__text {
  height: 100%;
  z-index: 20;
  position: relative;
}
.block-form__line {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #ffdd0d;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
}
.form__label {
  display: block;
  width: 60%;
  margin: 20px auto;
  position: relative;
}
.form__placeholder {
  position: absolute;
  color: #333;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  pointer-events: none;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
.form__placeholder.active {
  color: #515151 !important;
  top: 22%;
  left: 20px;
  font-size: 14px;
}
.form__placeholder.invalid {
  color: crimson;
}
.form__input {
  color: #333;
  font-size: 17px;
  width: 100%;
  padding: 25px 10px 15px 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  -webkit-box-shadow: inset 0 4px 5px #ccc;
  box-shadow: inset 0 4px 5px #ccc;
  -webkit-transition: .3s border;
  -o-transition: .3s border;
  transition: .3s border;
  border: 1px solid;
}
.form__input.invalid {
  background: #fff url("cross.png") 95% center no-repeat;
  background-size: 20px;
  border-color: crimson;
}
.form__input.valid {
  background: #fff url("checkmark.png") 95% center no-repeat;
  background-size: 20px;
  border-color: green;
}

.button-step {
  display: block;
  margin: 20px auto;
  padding: 15px 25px;
  border: none;
  border-radius: 4px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  cursor: pointer;
  outline: none;
}
.button-step:hover {
  background-color: #c1c1c1;
}

.form[data-step] {
  display: none;
}

.form[data-step="1"] {
  display: block;
}
