*{
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body{
  background-color: #3e4757;
}

.page-title{
  transform: translateY(-200%);
  font-size: 17px;
  color:#fff;
  text-align: center;
  transition: .6s transform ease-in-out;

  &.active{
    transform: translateY(0);
  }
}

.block-form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;

  &__step{
    text-align: center;
    color:#fff;
  }

  &__header{
    text-align: center;
    background-color: #fff;
    padding: 5px;
    font-size: 17px;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 50px;
  }

  &__text{
    height: 100%;
    z-index: 20;
    position: relative;
  }

  &__line{
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #ffdd0d;
    transition: .5s all;
  }

}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 600px;

  &__label{
    display: block;
    width: 60%;
    margin: 20px auto;
    position: relative;
  }

  &__placeholder{
    position: absolute;
    color: #333;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    z-index: 1;
    pointer-events: none;
    transition: .3s all;

    &.active{
      color: #515151 !important;
      top: 22%;
      left: 20px;
      font-size: 14px;
    }

    &.invalid{
      color: crimson;
    }

  }

  &__input{
    color: #333;
    font-size: 17px;
    width: 100%;
    padding: 25px 10px 15px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: inset 0 4px 5px #ccc;
    transition: .3s border;
    border: 1px solid;

    &.invalid{
      background: #fff url('cross.png') 95% center no-repeat;
      background-size: 20px;
      border-color:crimson;
    }

    &.valid{
      background: #fff url('checkmark.png') 95% center no-repeat;
      background-size: 20px;
      border-color: green;
    }
  }

}

.button-step{
  display: block;
  margin: 20px auto;
  padding: 15px 25px;
  border: none;
  border-radius: 4px;
  transition: .3s all;
  cursor: pointer;
  outline: none;

  &:hover{
    background-color: #c1c1c1;
  }

}

.form[data-step]{
  display: none;
}

.form[data-step="1"]{
  display: block;
}
